/* .center-all-items{
    /* width: 70vw; 
    margin: 0 99px 28px 99px;
 
 } */
 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
.slider-aligns {
   margin: 27px auto auto auto;
}

.text-center {
   text-align: center;
}


#beauty {
   width: 147px;
}

.my-1 {
   margin: 26px 0;
}

.my-2 {
   margin: 5px 0;
}

/* .dropdown{
   position: relative;
   left: 419px;
   top: 21px;
}
.dropdown a, .dropbtn{


display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
} */

li a, .dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   /* padding: 14px 16px; */
  
 }
 
 li a:hover, .dropdown:hover .dropbtn {
   background-color: rgb(255, 255, 255);
   /* width: 50px; */

 }
 
 li.dropdown {
   display: inline-block;
   position: absolute;
  top: 5px;
  right: -67px;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 120px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   font-family: "League Spartan", sans-serif;
   font-weight: 300;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 4px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1;}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }